

.navbar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px 30px;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Viga';
    color: #1c2b3f;
    position: sticky;
    top : 0;
    backdrop-filter: blur(15px);
    transition: all 0.4s ease-in-out;
}
.navbar .logo{
    width: 45px;
    margin: 0px 20px ;
}
.navbar .line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110%;
    height: 3px;
    background: linear-gradient(135deg, #24b6e7, #010194);
}

.mainContainer{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mainContainer .mainImage{
    width: 550px;
    margin-right: 160px;
    margin-top: 30px;
}
.mainContainer .text{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Viga';
    color: #1c2b3f;
    transition: box-shadow 0.4s ease-in-out;
}
.mainContainer .start{
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #0E607B;
    color: #ffffff;
    font-family: Nunito Sans;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px #2099c2;
    transition: box-shadow 0.4s ease-in-out;
}
.mainContainer .start:active{
    opacity: 0.7;
}


@media screen and (max-width: 600px) {
    .mainContainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navbar{
        padding: 15px 20px;
        position: sticky;
        top: 0;
    }
    .mainContainer .mainImage{
        width: 400px;
        margin: 30px 10px 40px 10px
    }
    
}
