*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D8E3E5;
    accent-color: teal;
}
.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 40px;
}
.heading{
    font-size: 3rem;
    font-weight: bolder;
}
.imtype{
    background-color: #8bb0e7;
    font-size: 1.5rem;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 1px 2px 2px #0014556b,
    0px 3px 8px #00145554;
    width: 270px;
    border: none;
    margin-bottom: 20px;
}
.imtype:hover{
    background-color: #a1ccf3;
}
.imtype:active{
    transform: scale(0.99);
    box-shadow: none;
}
.types a{
    text-decoration: none;
    color: #102b53;
}




