@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.Container{
    width: 650px;
    margin: auto;
    margin-top: 100px;
}
.heading{
    font-size: 1.8rem;
    color: #018698;
    font-weight: bold;
    background-color: #FEFFFE;
    padding: 20px;
    border-radius: 15px;
    border: solid 1px #a5aab3;
    position: relative;
    margin: 20px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}
.heading .line{
    background-color: #95C8D4;
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0px;
    left: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.header{
    max-width: 680px;
    background: url('https://source.unsplash.com/1600x900/?keyboard');
    height: 150px;
    margin: 20px;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}
.subBtn{
    margin: 0px 20px 20px 20px;
    background-color: #018698;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 1.1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 180px; */
}
.subBtn:active{
    opacity: 0.5;
}
.btnContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute;
    bottom: 0%; */
}
.submitTest{
    background-color: #008000;
  
}
.icon{
    margin-left: 5px;
}
.picon{
    margin-right: 5px;
    display: inline;
    vertical-align: middle;
}

.loadpage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
}
.tagline{
    position: absolute;
    top: 10%;
    font-size: 1.4rem;
}

.resultPage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
}
.resultPage .resultLine{
    font-size: 2rem;
    background-color: #deebee;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #b2b7c2;
    z-index: 20;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.resultLine .stars{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -20px;
    color: grey;
}
.imstar{
    color: #ecb426;
    font-size: 2rem;
    left: 0;
    top: 0;
}
.cgif{
    position: absolute;
    top: 0%;
}
.playAgain{
    font-size: 1.4rem;
    width: 100%;
    margin-top: 30px;
}
.homeBtn{
    font-size: 1.4rem;
    width: 100%;
    margin-top: 0px;
    background-color: green;
}
.resultText{
    text-align: center;
    font-size: 1.4rem;
}
.score{
    font-size: 5.5rem;
    font-weight: bold;
}

.status{
    font-size: 1rem;
    background-color: #FEFFFE;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #dce2ee;
    position: relative;
    margin: 20px;
}

.status .indexes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.indexes .index{
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px grey;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    
.Container{
    width: 430px;
}
.resultPage .resultLine{
    width: 330px;
}
}
